{% load static %}
{% include "base.html" %}


{% block content %}
    <div class="wrapper">
        <!-- Page Content  -->
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 auth-box">
                        <div class="proclinic-box-shadow">
                            <h3 class="widget-title">Login</h3>
                            {% if messages %}
                            {% for message in messages %}
                            
                            <div class="alert alert-danger" role="alert">
                               {{message}} 
                            </div>
                           
                            {% endfor %}
                            {% endif %}

                            <form class="widget-form" method="POST">

                                {% csrf_token %}

                                <!-- form-group -->
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <input placeholder="Email" class="form-control" required="" type="email" name="email">
                                    </div>
                                </div>
                                <!-- /.form-group -->
                                <!-- form-group -->
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <input type="password" placeholder="Password" class="form-control" name="password">
                                    </div>
                                </div>
                                <!-- /.form-group -->
                                <!-- Check Box -->		
                                <div class="form-check row">
                                    <div class="col-sm-12 text-left">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox" id="ex-check-2">
                                            <label class="custom-control-label" for="ex-check-2">Remember Me</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Check Box -->	
                                <!-- Login Button -->			
                                <div class="button-btn-block">
                                    <input type="submit" class="btn btn-primary btn-lg btn-block"></input>
                                </div>
                                <!-- /Login Button -->	
                                <!-- Links -->	
                                <div class="auth-footer-text">
                                    <small>New User,
                                        <a href="sign-up.html">Sign Up</a> Here</small>
                                </div>
                                <!-- /Links -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Content  -->
    </div>

{% endblock %}