{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <!-- Widget Item -->
        <div class="col-md-12">
            <div class="widget-area-2 proclinic-box-shadow">
                <h3 class="widget-title">Student List</h3>
                <div class="table-responsive mb-3">
                    <div id="tableId_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="tableId_length"><label>Show <select
                                            name="tableId_length" aria-controls="tableId"
                                            class="custom-select custom-select-sm form-control form-control-sm">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select> entries</label></div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="tableId_filter" class="dataTables_filter"><label>Search:<input type="search"
                                    class="form-control form-control-sm" placeholder=""
                                    aria-controls="tableId"></label></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="tableId" class="table table-bordered table-striped dataTable no-footer"
                                    role="grid" aria-describedby="tableId_info">
                                    <thead>
                                        <tr role="row">                                            
                                            <th class="sorting" tabindex="0" aria-controls="tableId" rowspan="1"
                                                colspan="1" aria-label="Patient ID: activate to sort column ascending"
                                                style="width: 137.797px;">Student ID</th>
                                            <th class="sorting" tabindex="0" aria-controls="tableId" rowspan="1"
                                                colspan="1" aria-label="Patient ID: activate to sort column ascending"
                                                style="width: 60px;">Image</th>
                                            <th class="sorting" tabindex="0" aria-controls="tableId" rowspan="1"
                                                colspan="1" aria-label="Patient Name: activate to sort column ascending"
                                                style="width: 180.844px;">Student Name</th>
                                            <th class="sorting" tabindex="0" aria-controls="tableId" rowspan="1"
                                                colspan="1" aria-label="Age: activate to sort column ascending"
                                                style="width: 67.3594px;">Class</th>
                                            <th class="sorting" tabindex="0" aria-controls="tableId" rowspan="1"
                                                colspan="1" aria-label="Phone: activate to sort column ascending"
                                                style="width: 139.844px;">Phone</th>
                                            <th class="sorting" tabindex="0" aria-controls="tableId" rowspan="1"
                                                colspan="1" aria-label="last Visit: activate to sort column ascending"
                                                style="width: 122.266px;">Date of Birth</th>
                                            <th class="sorting" tabindex="0" aria-controls="tableId" rowspan="1"
                                                colspan="1" aria-label="Status: activate to sort column ascending"
                                                style="width: 115.891px;">Parents Name</th>
                                            <th class="sorting" tabindex="0" aria-controls="tableId" rowspan="1"
                                                colspan="1" aria-label="Status: activate to sort column ascending"
                                                style="width: 50px;">Action</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%  for i in student %}
                                        <tr role="row" class="odd">                                            
                                            <td>{{i.id_number}}</td>
                                            <td><img style="height: 50px; border-radius: 50%;" src="/media/{{i.admin.profile_pic}}" alt=""></td>
                                            <td>{{i.admin.first_name}} {{i.admin.last_name}}</td>
                                            <td>{{i.class_name}}</td>
                                            <td>{{i.mobile_number}}</td>
                                            <td>{{i.do_brith}}</td>
                                            <td>{{i.pr_address}}</td>
                                            <td>
                                                <a href="{% url 'edit_student' i.id %}"><span style="color: yellowgreen;" class="ti-pencil-alt"></span></a>
                                                <a href="#"><span style="color: red;" class="ti-trash"></span></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="tableId_info" role="status" aria-live="polite">Showing
                                    1 to 12 of 12 entries</div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="tableId_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled" id="tableId_previous"><a
                                                href="#" aria-controls="tableId" data-dt-idx="0" tabindex="0"
                                                class="page-link">Previous</a></li>
                                        <li class="paginate_button page-item active"><a href="#" aria-controls="tableId"
                                                data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                        <li class="paginate_button page-item next disabled" id="tableId_next"><a
                                                href="#" aria-controls="tableId" data-dt-idx="2" tabindex="0"
                                                class="page-link">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Export links-->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center export-pagination">
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="ti-download"></span> csv</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="ti-printer"></span> print</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="ti-file"></span> PDF</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="ti-align-justify"></span> Excel</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- /Export links-->
                    <button type="button" class="btn btn-primary mt-3 mb-0"><span class="ti-pencil-alt"></span>
                        EDIT</button>
                    <button type="button" class="btn btn-danger mt-3 mb-0"><span class="ti-trash"></span>
                        DELETE</button>
                </div>
            </div>
        </div>
        <!-- /Widget Item -->
    </div>
</div>

{% endblock %}